body {
    color: black;
    background: deeppink;
}
.heading{
    width: 80%;
    font-size: 22px;
}
#camera{
    border: red 2px dashed; 
    width: 350px;
    height: 300px;
}
.name_of_objects,#result__object_name,#result_object_accuracy {

    color:black;
}